$bg:  #695f69;
$bghard: #482B43;
$bgmid: #52344E;
$white: #fffeff;
$black: #030303;

$gray: #DFE3E6;
$gray-hard: rgba(90, 104, 114, .08);
$gray-light: #D8D8D8;
$gray-smallfont: #8C9BA5;
$gray-listing-smallfont: #9B9B9B;
$gray-link: #979797;